body {
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    background: radial-gradient(circle, rgba(38,0,77,1) 0%, rgba(0,0,0,1) 100%);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.privacy-container {
    background-color: rgba(18, 18, 18, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(128, 0, 128, 0.7);
    max-width: 800px;
    margin: 20px;
    position: relative;
    overflow-y: auto;
    max-height: 80vh;
}

.privacy-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    color: #d800d8;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-top: 0;
}

.privacy-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.8em;
    color: #d800d8;
    margin-top: 20px;
}

.privacy-container p, .privacy-container ul {
    font-size: 1.2em;
    line-height: 1.6;
    color: #ffffff;
    text-align: justify;
}

.privacy-container ul {
    list-style-type: disc;
    padding-left: 20px;
}

.privacy-container a {
    color: #d800d8;
    text-decoration: none;
}

.privacy-container a:hover {
    text-decoration: underline;
}

.back-button-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.back-button {
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #d800d8;
}

.back-button:active {
    background-color: #540054;
}
